{% include JB/setup %}
<div class="post h-entry">
    <div class="page-header">
        <h1 class="p-name">
            <a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a>
            {% if post.tagline %}
                <small>{{ post.tagline }}</small>
            {% endif %}
        </h1>
        <h4>
            <span class="dt-published" >{{ post.date | date_to_long_string }}</span>{% if post.author %}
                {% assign author = site.authors[post.author] %}
                by <span class="p-author">{{author.name }}</span>{% endif %}{% if post.category %}
                in <span class="p-category">{{ post.category }}</span>
            {% endif %}.
            {% if post.tags == empty %}
            {% else %}
                Filed under
                {% assign tags_list = post.tags %}
                {% include themes/affinitivedev/tags %}
            {% endif %}
        </h4>
    </div>
    <div class="e-content">
        {{ content }}
    </div>
    <div class="fb-comments" data-href="{{ site.production_url }}{{ BASE_PATH }}{{ post.url }}" data-num-posts="10" data-colorscheme="dark">
    </div>
  <hr>
  <div class="pagination btn-group">
    {% if page.previous %}
      <a class="btn prev" href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">&larr; Previous</a>
    {% else %}
      <a class="btn disabled prev">&larr; Previous</a>
    {% endif %}
      <a class="btn" href="{{ BASE_PATH }}{{ site.JB.archive_path }}">Archive</a>
    {% if page.next %}
      <a class="btn next" href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">Next &rarr;</a>
    {% else %}
      <a class="btn next disabled">Next &rarr;</a>
    {% endif %}
  </div>
  <hr>
</div>
