// @todo is it better to include this from a link tag than @import?
// @import url(http://fonts.googleapis.com/css?family=Advent+Pro);
@import url(//fonts.googleapis.com/css?family=Oxygen);

// compass vars
$default-box-shadow-color: #000;
$default-box-shadow-v-offset: 1px;
$default-box-shadow-blur: 1px;

// bootstrap vars
$bodyBackground: #2a2a2a;
$textColor: #bbb;
$linkColor: #4cb4e8;
$sansFontFamily: "Oxygen", sans-serif;

$headingsFontFamily: "HelveticaNeue-Light","Helvetica Neue Light",Arial,Helvetica,sans-serif;
$headingsFontWeight: normal;
$headingsColor: #999;

// libraries
@import "bootstrap";
@import "bootstrap-responsive";
@import "compass";
@import "darkstrap";
@import "zocial";
@import "pygments";

// main styles

// @todo there are probably a several places below that can be replaced
// @todo with bootstrap or compass mixins

// @todo we're about at the point we should think about splitting this up
// @todo separating the post styles from the layout and nav seems logical

body {
	text-shadow: 1px 1px 1px #000;
}

@media (max-width: 980px) {
	/* Enable use of floated navbar text */
	.navbar-text.pull-right {
		float: none;
		padding-left: 5px;
		padding-right: 5px;
	}
}

a {
	color: $linkColor;
	&:hover {
		color: lighten($linkColor, 30);
		text-decoration: none;
	}
	@include transition(all 0.3s);
}

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
	font-weight: normal;
	color: #999;
}

/*
h1, h2 {
	margin: 0 0 15px;
}

h1 {
	font-size:40px;
}

h2 {
	font-size: 30px;
}
*/
pre, code {
	color: #ccc;
}

pre > code {
	/* Reset box-shadow for pygments */
	background: none;
	-webkit-box-shadow: none;
	   -moz-box-shadow: none;
	     -o-box-shadow: none;
	        box-shadow: none;
}

hr {
	border: none;
	background:rgba(0,0,0,0.7);
	height:1px;
}

/* Layout */
.navbar {
	margin-left: -20px;
	margin-right: -20px;
	text-shadow: none;

	@media (min-width: 767px) {
		margin-left: 0;
		margin-right: 0;
	}

	.brand {
		color: $headingsColor;
		margin: 0;
		padding: 10px 0;
		font-size: 40px;
		text-shadow: 0;
	}

	.navbar-inner {
		@include border-radius(0);
		h1 {
			display: inline;
			margin: 0;
			.brand {
			}
		}
		h2 {
			float: none;
			clear: left;
			font-size: 20px;
			@media (max-width: 480px) {
				display: none;
			}
		}
		ul.nav:first-child {
			li {
				a {
					padding:12px 10px 8px;
				}
			}
		}
	}
}

.btn-navbar, .nav-collapse {
	display: none !important;
}

/* Content */
.content {
	img {
		box-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);
	}
	/* when there's no page-header */
	&.no-header {
		padding-top:40px;
	}

	/* Wide column content */
	.row-fluid {
		.span8 {
			> img {
				display:block;
				margin: 10px auto;
			}
		}
		.span4 {
			h4 {
				margin-top:10px;
				&:first {margin-top: 0}
			}
		}
	}
	p {
		padding-bottom:15px;
		line-height:25px;
		margin:0;
	}
}

/* Page header tweaks */
.page-header {
	@include box-shadow(
		 rgba(255, 255, 255, 0.1) 0 1px 0,
		 rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset
	);
	background: #202020;
	background-color: rgba(0, 0, 0, 0.3);
	border: none;
	padding: 20px 20px 10px;
	margin: 0px -20px 20px;
	z-index: 0;
	@include border-bottom-left-radius(3px);
	@include border-bottom-right-radius(3px);
	h1 {
		color: #eee;
		margin: 0;
	}
	h4 {
		font-size: 14px;
		font-height: 16px;
	}
}

.topbar .btn {
  border: 0;
}

/* Posts */
.post {
	margin-bottom: 1em;
}

/* Pagination */
.pagination {
	li {
		a {
			@include box-shadow;
			// background: rgba(0, 0, 0, 0.8);
		}
	}
}

/* Buttons */
a.btn, a.btn.disabled {
	color:rgba(255, 255, 255, 0.7);
	text-shadow: 1px 1px 2px #000;
	background:rgba(0,0,0, 0.2);
	border: none;
	   -moz-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
	-webkit-box-shadow:
			rgba(0, 0, 0, 0.8) 0 1px 0,
			rgba(255, 255, 255, 0.5) 0 1px 1px 0px inset;
	     -o-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;

	&:hover {
		background:rgba(255,255,255, 0.05);
	}
	&.disabled {
		color:rgba(255,255,255, 0.3);
	}
}


/* Page-specific */
.content {
	.page-index {
		padding-top:30px !important;
	}
}

/* Zocial Overrides */
.navbar a.zocial {
	padding-left:0 !important;
	padding-right:0 !important;
}

.zocial.googleplus:focus,
.zocial.googleplus:hover {
	color: #e01d30 !important;
}

.zocial.twitter:focus,
.zocial.twitter:hover {
	color: #46c0fb !important;
}


.zocial.linkedin:focus,
.zocial.linkedin:hover {
	color: #50a1cb !important;
}

.zocial.rss:focus,
.zocial.rss:hover {
	color: #fb9d3a !important;
}

.fb-comments, .fb_iframe_widget, .fb_iframe_widget_loader  {
	display: block !important;
	min-height: 160px;
}
.fb-comments > span,
.fb-comments iframe
{width: 100% !important;}

